* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

h1 {
    color: rgb(62, 148, 219);
    background-color: honeydew;
    font-weight: bolder;
    padding: 8px;
    margin: 0px auto;
    border: 2px dashed;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid black;
}

h2 {
    color: whitesmoke;
    background-color: rgb(223, 85, 97);
    font-weight: bold;
    padding: 8px;
}

div {
    padding: 8px;
}

p,
li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 8px;
}

a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 16px;
    padding-bottom: 20px;
}
